.statistics {
  width: 500px;
  text-align: center;
  margin: 0 auto;
  border: 1px solid grey;
}

.statList {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  border-top: 1px solid grey;
}

.item {
  display: flex;
  padding: 10px;
  justify-content: center;
  flex-direction: column;
  border-right: 1px solid grey;
}
